.about-festival {
  padding-bottom: 70px;
  color: var(--bg);
  @include desktop {
    padding-bottom: 55px;
  }
  @include laptop {
    padding: 50px 0px 110px 0px;
  }
  @include tablet {
    padding: 90px 0px 70px 0px;
  }
  &__body {
    position: relative;
    padding: 140px 112px 120px 112px;
    background-color: var(--red-middle);
    transform: translateY(-70px);
    --webkit-clip-path: polygon(0 0, 100% 12%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 12%, 100% 100%, 0% 100%);
    z-index: 10;
    @include desktop {
      padding: 100px 92px;
    }
    @include laptop {
      padding: 80px 37px;
      clip-path: none;
      transform: translateY(0);
    }
    @include tablet {
      padding: 60px 16px;
    }
  }
  &__title {
    font-size: 69px;
    line-height: 69px;
    margin-bottom: 40px;
    @include desktop {
      font-size: 44px;
      line-height: 44px;
      margin-bottom: 25px;
    }
    @include tablet {
      font-size: 23px;
      line-height: 28px;
      margin-bottom: 16px;
    }
  }
  &__content {
    margin: 0;
    max-width: 895px;
    font-size: 24px;
    line-height: 34px;
    span {
      font-weight: 700;
    }
    @include desktop {
      max-width: 675px;
      font-size: 18px;
      line-height: 25px;
    }
    @include laptop {
      max-width: none;
    }
    @include tablet {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
