.bot {
  margin-top: 140px;
  margin-bottom: 140px;
  &__container {
    position: relative;
  }

  &__top {
    max-width: 940px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__desc {
    font-size: 24px;
    line-height: 140%;
    color: var(--brown-dark);
    margin-bottom: 60px;
  }

  &__right {
    max-width: 750px;
  }

  &__subtitle {
    font-size: 31px;
    line-height: 140%;
    margin-bottom: 30px;
    color: var(--brown-dark);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 95px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 24px;
    line-height: 140%;
    color: var(--brown-dark);
  }

  &__btn {
    display: inline-block;
  }

  &__image {
    position: absolute;
    top: 44px;
    right: 0;
  }
}
