.camp {
  background-color: var(--red-middle);
  --webkit-clip-path: polygon(0 0, 100% 74px, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 74px, 100% 100%, 0 100%);
  margin-top: 140px;

  &__container {
    padding-top: 170px;
    padding-bottom: 120px;
    display: flex;
    gap: 32px;

    @include desktop {
      padding-top: 140px;
      padding-bottom: 100px;
    }

    @include laptop {
      padding-top: 90px;
      padding-bottom: 50px;
      flex-wrap: wrap;
      gap: 40px;
    }

    @include tablet {
      padding-top: 60px;
      padding-bottom: 40px;
      gap: 32px;
    }
  }

  &__right {
    max-width: 752px;

    @include desktop {
      max-width: 612px;
    }
  }

  &__wrapper {
    margin-bottom: 71px;

    @include desktop {
      margin-bottom: 83px;
    }

    @include laptop {
      margin-bottom: 32px;
    }
  }

  &__title {
    margin-bottom: 32px;
    color: var(--gray-light);
    font-family: "RezakCYR", sans-serif;
    font-size: 52px;
    font-weight: 500;
    line-height: 110%;

    @include desktop {
      margin-bottom: 16px;
      font-size: 35px;
    }

    @include tablet {
      font-size: 23px;
      line-height: 120%;
    }
  }

  &__desc {
    margin: 0 0 20px;
    color: var(--gray-light);
    font-family: Ubuntuб sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;

    @include desktop {
      margin-bottom: 40px;
      font-size: 18px;
    }

    @include tablet {
      font-size: 16px;
      max-width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 32px;

    @include desktop {
      row-gap: 40px;
      column-gap: 24px;
    }

    @include laptop {
      row-gap: 32px;
    }

    @include tablet {
      row-gap: 20px;
      column-gap: 12px;
    }
  }

  &__item {
    max-width: 229px;

    @include desktop {
      max-width: 160px;
    }

    @include laptop {
      max-width: 188px;
    }

    @include tablet {
      max-width: 154px;
    }
  }

  &__icon {
    max-width: 72px;
    max-height: 72px;
    margin-bottom: 10px;

    @include desktop {
      max-width: 52px;
      max-height: 52px;
    }
  }

  &__img {
    height: 100%;
    width: auto;
    --webkit-clip-path: polygon(0 0, 100% 20px, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 20px, 100% 100%, 0 100%);
    object-fit: cover;

    @include laptop {
      max-height: 460px;
      width: 100%;
    }

    @include tablet {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
      height: 460px;
    }
  }

  &__text {
    margin: 0;
    color: var(--gray-light);
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.18px;

    @include desktop {
      font-size: 14px;
      letter-spacing: -0.14px;
    }

    @include tablet {
      font-size: 13px;
      line-height: 140%;
    }
  }

  &__btn {
    width: 440px;
    border-color: var(--bg);
    color: var(--bg);

    @include desktop {
      max-width: 336px;
    }

    @include laptop {
      max-width: 100%;
      width: 100%;
    }
  }

  &__left {
    max-width: 527px;

    @include desktop {
      max-width: 428px;
    }

    @include laptop {
      max-width: 690px;
    }
  }

  @include desktop {
    margin-top: 206px;
  }

  @include laptop {
    margin-top: 200px;
    clip-path: polygon(0 0, 100% 31px, 100% 100%, 0 100%);
  }

  @include tablet {
    clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%);
  }
}
