@import "../base/templates";

.footer {
  -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
  background-color: var(--red-dark);

  &-top {
    padding-top: 160px;
    padding-bottom: 130px;
    font-family: "Rezak CYR", "sans-serif";
    color: var(--bg);

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  &-left {
    &__desc {
      margin: 0;
      padding: 0;
      max-width: 864px;
      font-weight: 500;
      font-size: 52px;
      line-height: 110%;
    }
  }

  &-right {
    &__email {
      display: flex;
      gap: 24px;
      align-items: center;
    }

    &__icon {
      width: 52px;
      height: 52px;
    }

    &__link {
      font-size: 31px;
      line-height: 140%;
      transition: color var(--transition);

      @include hover {
        color: var(--biege-middle);
      }
    }
  }

  &-middle {
    font-family: "Ubuntu", "sans-serif";
    background-image: url("../img/footer-line.png");
    background-repeat: no-repeat;
    padding-top: 108px;
  }

  .footer-list {
    display: flex;
    justify-content: space-between;
    color: var(--biege-light);

    &__subtitle {
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      padding: 0;
      margin: 0 0 10px;
    }

    &__content,
    &__link {
      max-width: 318px;
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
      font-style: normal;
      padding: 0;
      margin: 0;
    }

    &__link {
      transition: color var(--transition);

      @include hover {
        color: var(--biege-middle);
      }
    }
  }

  .footer-social {
    display: flex;
    gap: 16px;

    &__icon {
      width: 32px;
      height: 32px;
      fill: var(--biege-light);
      transition: fill var(--transition);

      @include hover {
        fill: var(--biege-middle);
      }
    }
  }

  &-bottom {
    &__container {
      font-family: "Ubuntu", "sans-serif";
      display: flex;
      gap: 24px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      padding-top: 110px;
      padding-bottom: 60px;
      position: relative;
    }

    &__text {
      color: var(--biege-light);
      margin: 0;
      padding: 0;
    }

    &__img {
      position: absolute;
      right: -38.5px;
      bottom: 0;
    }
  }
}
