.footer {
  overflow: hidden;
  --webkit-clip-path: polygon(0 0, 100% 74px, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 74px, 100% 100%, 0 100%);
  background-color: var(--red-dark);

  @include desktop {
    --webkit-clip-path: polygon(0 0, 100% 53px, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 53px, 100% 100%, 0 100%);
  }

  @include laptop {
    --webkit-clip-path: polygon(0 0, 100% 30px, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 30px, 100% 100%, 0 100%);
  }

  @include mobile {
    --webkit-clip-path: polygon(0 0, 100% 13px, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 13px, 100% 100%, 0 100%);
  }

  &-top {
    padding-top: 160px;
    padding-bottom: 130px;
    font-family: "RezakCYR", "sans-serif";
    color: var(--bg);

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include laptop {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
      }
    }

    @include desktop {
      padding-top: 114px;
      padding-bottom: 97px;
    }

    @include laptop {
      padding-top: 80px;
      padding-bottom: 50px;
    }

    @include tablet {
      padding-top: 70px;
      padding-bottom: 40px;
    }
  }

  &-left {
    &__desc {
      margin: 0;
      padding: 0;
      max-width: 864px;
      font-weight: 500;
      font-size: 52px;
      line-height: 110%;

      @include desktop {
        font-size: 35px;
        line-height: 110%;
      }

      @include laptop {
        max-width: 500px;
        font-size: 23px;
        line-height: 140%;
      }
    }
  }

  &-right {
    &__email {
      display: flex;
      gap: 24px;
      align-items: center;

      @include desktop {
        gap: 17px;
      }
    }

    &__icon {
      width: 52px;
      height: 52px;

      @include desktop {
        width: 40px;
        height: 40px;
      }
    }

    &__link {
      font-size: 31px;
      line-height: 140%;
      transition: color var(--transition);

      @include hover {
        color: var(--biege-middle);
      }

      @include desktop {
        font-size: 23px;
        line-height: 140%;
      }

      @include laptop {
        font-size: 18px;
        line-height: 140%;
      }
    }
  }

  &-middle {
    position: relative;
    font-family: "Ubuntu", "sans-serif";
    padding-top: 108px;
    @include desktop {
      padding-top: 74px;
    }
    @include tablet {
      padding-top: 64px;
    }
  }
  &__frame {
    position: absolute;
    font-family: "Runic", sans-serif;
    margin: 0;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    white-space: nowrap;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    color: var(--biege-light);
    z-index: 2;
    @include desktop {
      font-size: 28px;
    }
    @include laptop {
      font-size: 20px;
    }
  }

  .footer-list {
    display: flex;
    justify-content: space-between;
    color: var(--biege-light);

    &__subtitle {
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      padding: 0;
      margin: 0 0 10px;

      @include desktop {
        font-size: 14px;
        line-height: 150%;
        margin: 0 0 7px;
      }

      @include tablet {
        font-size: 13px;
        line-height: 150%;
      }
    }

    &__content,
    &__link {
      max-width: 318px;
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
      font-style: normal;
      padding: 0;
      margin: 0;

      @include desktop {
        font-size: 14px;
        line-height: 140%;
      }

      @include tablet {
        font-size: 13px;
        line-height: 140%;
      }
    }

    &__link {
      transition: color var(--transition);

      @include hover {
        color: var(--biege-middle);
      }
    }

    &__item {
      @include laptop {
        max-width: 250px;
        width: 100%;
      }
    }

    @include laptop {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 25px;
    }
  }

  .footer-social {
    display: flex;
    gap: 16px;

    &__icon {
      width: 32px;
      height: 32px;
      fill: var(--biege-light);
      transition: fill var(--transition);

      @include hover {
        fill: var(--biege-middle);
      }

      @include desktop {
        width: 23px;
        height: 23px;
      }
    }
  }

  &-bottom {
    &__container {
      font-family: "Ubuntu", "sans-serif";
      display: flex;
      gap: 24px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      padding-top: 110px;
      padding-bottom: 60px;
      position: relative;

      @include desktop {
        padding-top: 60px;
        padding-bottom: 40px;
        font-size: 14px;
        line-height: 150%;
        gap: 16px;
      }

      @include laptop {
        font-size: 12px;
        line-height: 150%;
        flex-direction: column;
        gap: 12px;
      }

      @include tablet {
        padding-top: 40px;
        padding-bottom: 30px;
        font-size: 11px;
        line-height: 150%;
        gap: 4px;
      }
    }

    &__text {
      color: var(--biege-light);
      margin: 0;
      padding: 0;
    }
    &__link {
      @include hover {
        text-decoration: underline;
      }
    }

    &__img {
      position: absolute;
      right: -38.5px;
      bottom: -2px;

      @include desktop {
        width: 57px;
        height: 130px;
        right: -28.5px;
      }

      @include laptop {
        width: 93px;
        height: 212px;
        right: 7px;
      }
    }
  }
}
