.headliners {
  position: relative;
  overflow: hidden;
  clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
  z-index: 20;
  @include desktop {
  }
  @include laptop {
    clip-path: polygon(0 5%, 100% 1%, 100% 100%, 0% 100%);
  }
  @include tablet {
    clip-path: none;
  }

  &__list {
    display: flex;
  }
  &__img {
    width: 640px;
    height: 480px;
    max-width: none;
    @include desktop {
      width: 355px;
      height: 340px;
    }
    @include laptop {
      width: 320px;
      height: 240px;
    }
    @include mobile {
      width: 200px;
      height: 160px;
    }
  }

  &__body {
    position: relative;
    clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0 100%);
    padding: 160px 0px 240px 0px;
    transform: translateY(-90px);
    background-color: var(--red-middle);
    color: white;
    z-index: 10;
    @include desktop {
      padding: 140px 0px 230px 0px;
      transform: translateY(-77px);
    }
    @include laptop {
      padding: 90px 0px 140px 0px;
      clip-path: polygon(0 6%, 100% 1%, 100% 100%, 0 100%);
      transform: translateY(-52px);
    }
    @include tablet {
      padding: 70px 0px 100px 0px;
      clip-path: polygon(0 2%, 100% 1%, 100% 100%, 0 100%);
      transform: translateY(-45px);
    }
  }
  &__title {
    font-size: 69px;
    line-height: 100%;
    margin-bottom: 80px;
    @include desktop {
      font-size: 44px;
      margin-bottom: 60px;
    }
    @include laptop {
      font-size: 35px;
      margin-bottom: 50px;
      line-height: 110%;
    }
    @include tablet {
      font-size: 23px;
      line-height: 120%;
      margin-bottom: 30px;
      text-align: left;
    }
  }
  &__wrapper {
    @include flex-between;
    @include tablet {
      flex-direction: column;
      align-items: start;
      gap: 85px;
    }
  }
  &__card {
    position: relative;
    width: 560px;
    height: 615px;
    @include hover {
      .headliners__card-title {
        transform: perspective(500px) scale(1.1) rotateX(8.5deg) rotateY(3deg) rotateY(-9deg);
      }
    }
    @include desktop {
      width: 460px;
      height: 570px;
    }
    @include laptop {
      width: 300px;
      height: 380px;
    }
    @include tablet {
      width: calc(100% - 30px);
      height: auto;
    }
  }
  &__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0%;
    @include tablet {
      height: auto;
    }
    @media (max-width: 479px) {
      height: 220px;
    }
  }
  &__card-bottom {
    position: absolute;
    font-family: "RezakCYR", sans-serif;
    right: -80px;
    bottom: -100px;
    z-index: 5;
    @include desktop {
      right: -40px;
      bottom: -80px;
    }
    @include laptop {
      right: -30px;
      bottom: -65px;
    }
    @include mobile {
      right: -30px;
      bottom: -40px;
    }
  }
  &__card-title {
    @include flex-center;
    background-color: var(--neutral-dark);
    width: 530px;
    height: 190px;
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 91%);
    transition: transform 0.2s ease;
    span {
      font-weight: 600;
      font-size: 52px;
      line-height: 110%;
      text-align: center;
    }
    @include desktop {
      width: 370px;
      height: 130px;
      span {
        font-size: 35px;
      }
    }
    @include laptop {
      width: 295px;
      height: 105px;
      span {
        font-size: 23px;
        line-height: 140%;
      }
    }
    @include mobile {
      width: 250px;
      height: 90px;
    }
  }
  &__card-date {
    display: block;
    font-weight: 600;
    font-size: 31px;
    line-height: 140%;
    text-align: center;
    color: var(--neutral-dark);
    @include laptop {
      font-size: 24px;
    }
    @include tablet {
      font-size: 18px;
    }
  }
}
