.media-about {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;

    @include desktop {
      margin-bottom: 35px;
    }

    @include laptop {
      margin-bottom: 40px;
    }

    @include tablet {
      margin-bottom: 25px;
    }
  }

  &__list {
    display: flex;
    row-gap: 50px;
    column-gap: 32px;
    flex-wrap: wrap;

    @include desktop {
      row-gap: 32px;
    }

    @include laptop {
      justify-content: space-between;
      row-gap: 30px;
      margin-bottom: 40px;
    }

    @include tablet {
      gap: 16px;
    }
  }

  &__item {
    max-width: calc((100% / 3) - 50px);
    width: 100%;
    position: relative;
    padding-left: 50px;

    @include desktop {
      padding-left: 38px;
    }

    @include laptop {
      max-width: calc((100% / 2) - 38px);

      &:last-child {
        display: none;
      }
    }

    @include tablet {
      max-width: none;
      padding-left: 28px;
      &:not(:nth-child(-n + 4)) {
        display: none;
      }
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: var(--red-light);
    position: absolute;
    left: 0;
    top: 0;

    @include desktop {
      width: 26px;
      height: 26px;
    }

    @include tablet {
      width: 20px;
      height: 20px;
    }
  }

  &__subtitle {
    font-size: 26px;
    line-height: 140%;
    font-feature-settings: "tnum" on, "lnum" on;
    color: var(--neutral-dark);
    margin-bottom: 16px;

    @include desktop {
      font-size: 18px;
      line-height: 140%;
      margin-bottom: 10px;
    }

    @include tablet {
      font-size: 15px;
      line-height: 140%;
      margin-bottom: 8px;
    }
  }

  &__text {
    padding: 0;
    margin: 0 0 8px;
    font-size: 18px;
    line-height: 150%;
    color: var(--neutral-dark);

    @include desktop {
      font-size: 14px;
      line-height: 150%;
      margin: 0 0 4px;
    }

    @include tablet {
      font-size: 13px;
      line-height: 140%;
      margin-bottom: 2px;
    }
  }

  &__link {
    overflow: hidden;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--red-middle);
    padding-bottom: 2px;
    border-bottom: 2px solid currentColor;
    transition: color var(--transition);

    @include hover {
      color: var(--red-light);
    }

    @include desktop {
      font-size: 14px;
      line-height: 140%;
      padding-bottom: 1px;
    }

    @include laptop {
      padding-bottom: 2px;
      border-bottom-width: 1.5px;
    }

    @include tablet {
      font-size: 13px;
      line-height: 140%;
    }
  }
}
