.navigate {
  position: relative;
  overflow: hidden;
  padding-bottom: 236px;
  margin-bottom: 140px;
  @include desktop {
    padding-bottom: 205px;
  }

  @include laptop {
    background-size: auto 65px;
    padding-bottom: 145px;
    margin-bottom: 85px;
  }

  @include tablet {
    padding-bottom: 100px;
    background-size: auto 30px;
    background-repeat: repeat-x;
    margin-bottom: 70px;
  }

  &__title {
    margin-bottom: 40px;
    &--second {
      font-size: 31px;
      line-height: 140%;
      color: var(--red-dark);

      @include desktop {
        font-size: 23px;
        line-height: 140%;
      }

      @include tablet {
        font-size: 15px;
        line-height: 140%;
      }
    }

    @include desktop {
      margin-bottom: 25px;
    }

    @include tablet {
      margin-bottom: 16px;
    }
  }

  &__nav {
    display: flex;
    margin-bottom: 20px;
    white-space: nowrap;
    gap: 36px;

    @include desktop {
      gap: 28px;
    }

    @include laptop {
      max-width: 100%;
      margin-bottom: 10px;
      overflow-x: auto;
    }
  }

  &-tabs {
    &__nav {
      &-item {
        .btn {
          color: var(--brown-dark);
        }
      }
    }

    .tabs__content {
      .tabs__panel--active {
        display: block;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    @include desktop {
      margin-bottom: 40px;
    }

    @include tablet {
      margin-bottom: 25px;
    }
  }

  &__btn {
    display: inline-block;
    text-align: center;
  }

  &__subtitle {
    padding: 0;
    color: var(--brown-dark);
    font-size: 24px;
    line-height: 140%;
    font-weight: 400;
    margin: 0 0 8px;

    @include desktop {
      font-size: 18px;
      line-height: 140%;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 36px;
    color: var(--neutral-brown-dark, #6E443A);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: RezakCYR;
    font-size: 26px;
    font-weight: 500;
    line-height: 140%;

    @include desktop {
      margin-bottom: 32px;
      font-size: 23px;
    }

    @include mobile {
      margin-bottom: 18px;
      font-size: 15px;
    }

    &--tel {
      margin-bottom: 60px;

      @include desktop {
        margin-bottom: 50px;
      }

      @include mobile {
        margin-bottom: 40px;
      }
    }
  }

  &__address {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: "RezakCYR", "sans-serif";
    font-size: 31px;
    line-height: 140%;
    color: var(--brown-dark);

    @include desktop {
      font-size: 23px;
      line-height: 140%;
    }

    @include laptop {
      font-size: 18px;
      line-height: 140%;
    }
  }
  &__map {
    width: 100%;
    max-height: 515px;
    max-width: 1312px;

    @include desktop {
      max-height: 420px;
    }

    @include laptop {
      max-height: 270px;
    }

    @include tablet {
      margin-bottom: 40px;
      width: 100%;
    }
  }

  &__price {
    margin-bottom: 5px;

    &-note {
      display: block;
      margin-bottom: 30px;
      font-size: 26px;

      @include desktop {
        margin-bottom: 20px;
        font-size: 23px;
      }

      @include mobile {
        font-size: 15px;
      }
    }
  }

  &__timetable {
    display: flex;
    flex-direction: column;
    gap: 50px;

    p {
      margin: 0;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include desktop {
        gap: 12px;
      }

      @include mobile {
        gap: 8px;
      }
    }

    .navigate__subtitle {  
      @include mobile {
        font-size: 13px;
      }
    }

    @include desktop {
      gap: 36px;
    }

    @include mobile {
      gap: 20px;
    }
  }

  &__wrapper-mini {
    display: flex;
    flex-direction: column;
    gap: 16px;

    h3 {
      margin: 0;
    }

    @include laptop {
      gap: 12px;
    }

    @include mobile {
      gap: 8px;
    }
  }

  &__frame {
    position: absolute;
    font-family: "Runic", sans-serif;
    margin: 0;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--red-middle);
    white-space: nowrap;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    @include desktop {
      font-size: 69px;
    }
    @include laptop {
      font-size: 54px;
    }
    @include mobile {
      font-size: 25px;
    }
  }
}
