.partners {
  margin-top: 120px;
  margin-bottom: 120px;

  @include laptop {
    margin-top: 100px;
    margin-bottom: 174px;
  }

  @include tablet {
    margin: 70px 0px 100px 0px;
  }

  &__title {
    margin-bottom: 60px;

    @include desktop {
      margin-bottom: 57px;
    }

    @include laptop {
      margin-bottom: 25px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 24px;

    @include desktop {
      gap: 30px;
    }

    @include laptop {
      gap: 16px;
      row-gap: 16px;
    }

    @include tablet {
      justify-content: space-between;
    }
  }

  &__img {
    object-fit: contain;

    @include desktop {
      width: 152px;
      height: 130px;
    }

    @include tablet {
      width: 92px;
      height: 80px;
    }
  }
}
