.program {
  // .program__container
  &__container {
  }

  // .program__title
  &__title {
    font-size: 52px;
    line-height: 57px;
    text-align: center;
    margin-bottom: 60px;
    @include desktop {
      font-size: 35px;
      margin-bottom: 40px;
    }
    @include laptop {
      text-align: left;
      margin-bottom: 25px;
    }
    @include mobile {
      font-size: 23px;
      line-height: 120%;
    }
  }

  // .program__list
  &__list {
    display: flex;
    gap: 102px;
    margin-bottom: 140px;
    @include desktop {
      gap: 30px;
      justify-content: space-between;
      margin-bottom: 120px;
    }
    @include laptop {
      flex-direction: column;
      justify-content: start;
      gap: 16px;
      margin-bottom: 100px;
    }
    @include tablet {
      gap: 12px;
      margin-bottom: 50px;
    }
  }

  // .program__item
  &__item {
    font-family: "RezakCYR", "sans-serif";
    font-size: 31px;
    line-height: 140%;
    color: var(--brown-dark);
    @include desktop {
      font-size: 23px;
    }
    @include mobile {
      font-size: 18px;
      line-height: 140%;
    }
  }

  // // .program__slide
  // &__slide {
  //   display: flex;
  //   align-items: flex-end;
  //   position: relative;
  //   @include tablet {
  //     flex-direction: column-reverse;
  //   }
  // }

  // // .program__left
  // &__left {
  //   --webkit-clip-path: polygon(0 0, 100% 31px, 100% 100%, 0 100%);
  //   clip-path: polygon(0 0, 100% 31px, 100% 100%, 0 100%);
  //   max-width: 803px;
  //   background-color: var(--red-middle);
  //   padding: 72px 117px 80px 111px;
  //   height: 100%;
  //   @include desktop {
  //     padding: 90px 90px 110px 90px;
  //   }
  //   @include laptop {
  //     padding: 50px 35px 70px 35px;
  //   }
  //   @include tablet {
  //     position: relative;
  //     box-sizing: border-box;
  //     width: 100%;
  //     padding: 40px 15px 70px 15px;
  //     height: auto;
  //     z-index: 10;
  //   }
  // }

  // &__right {
  //   position: relative;
  //   @include tablet {
  //     width: 100%;
  //     transform: translateY(33px);
  //   }
  // }

  // // .program__prefix
  // &__prefix {
  //   display: block;
  //   font-size: 18px;
  //   line-height: 150%;
  //   margin-bottom: 20px;
  //   color: var(--biege-light);
  //   @include desktop {
  //     font-size: 14px;
  //   }
  //   @include laptop {
  //     margin-bottom: 15px;
  //   }
  //   @include tablet {
  //     font-size: 13px;
  //   }
  // }

  // // .program__subtitle
  // &__subtitle {
  //   font-size: 69px;
  //   line-height: 100%;
  //   color: var(--bg);
  //   margin-bottom: 35px;
  //   @include desktop {
  //     font-size: 44px;
  //     margin-bottom: 20px;
  //   }
  //   @include laptop {
  //     font-size: 35px;
  //     line-height: 110%;
  //     margin-bottom: 15px;
  //   }
  //   @include tablet {
  //     font-size: 29px;
  //     line-height: 100%;
  //   }
  // }

  // // .program__date
  // &__date {
  //   font-family: "RezakCYR", "sans-serif";
  //   font-weight: 500;
  //   font-size: 52px;
  //   line-height: 110%;
  //   color: var(--bg);
  //   margin: 0px 0px 40px 0px;
  //   @include desktop {
  //     font-size: 35px;
  //     margin-bottom: 25px;
  //   }
  //   @include laptop {
  //     font-size: 23px;
  //     line-height: 140%;
  //     margin-bottom: 25px;
  //   }
  // }

  // // .program__text
  // &__text {
  //   font-weight: 400;
  //   font-size: 18px;
  //   line-height: 150%;
  //   color: var(--bg);
  //   max-width: 529px;
  //   margin: 0px 0px 65px 0px;
  //   @include desktop {
  //     max-width: 430px;
  //     font-size: 14px;
  //     margin-bottom: 60px;
  //   }
  //   @include laptop {
  //     max-width: 290px;
  //     margin-bottom: 30px;
  //   }
  //   @include tablet {
  //     max-width: none;
  //     font-size: 13px;
  //     margin-bottom: 40px;
  //   }
  // }

  // // .program__btn
  // &__btn {
  //   box-sizing: border-box;
  //   color: var(--bg);
  //   border-color: var(--bg);
  //   max-width: 300px;
  //   width: 100%;
  //   @include hover {
  //     color: var(--red-middle);
  //     background-color: var(--bg);
  //   }
  //   @include desktop {
  //     max-width: 245px;
  //   }
  //   @include laptop {
  //     max-width: 295px;
  //   }
  // }

  // // .program__image
  // &__image {
  //   max-width: none;
  //   display: block;
  //   clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
  //   @include desktop {
  //     width: 430px;
  //   }
  //   @include laptop {
  //     width: 310px;
  //   }
  //   @include tablet {
  //     clip-path: none;
  //     width: 100%;
  //   }
  // }

  // // .program__icon
  // &__icon {
  //   position: absolute;
  //   top: 54.6%;
  //   left: -60px;
  //   transform: translateY(-50%);
  //   @include desktop {
  //     width: 222px;
  //     top: 285px;
  //     left: -47px;
  //   }
  //   @include laptop {
  //     width: 160px;
  //     top: 206px;
  //     left: -34px;
  //   }
  //   @include tablet {
  //     display: none;
  //   }
  // }
  // &__frame {
  //   position: absolute;
  //   font-family: "Runic", sans-serif;
  //   margin: 0;
  //   font-size: 40px;
  //   line-height: 120%;
  //   letter-spacing: -0.01em;
  //   white-space: nowrap;
  //   color: var(--biege-light);
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: 10;
  //   @include desktop {
  //     font-size: 32px;
  //   }
  //   @include mobile {
  //     font-size: 25px;
  //     opacity: 0.8;
  //   }
  // }
  // &__controls {
  //   margin-top: 32px;
  //   width: 100%;
  //   display: flex;
  //   justify-content: space-between;
  //   @include desktop {
  //     margin-top: 25px;
  //   }
  // }

  // &__control-btn {
  //   width: 80px;
  //   height: 32px;
  //   color: var(--brown-dark);
  //   transition: color var(--transition);

  //   @include hover {
  //     color: var(--red-middle);
  //   }
  //   @include tablet {
  //     width: 65px;
  //     height: 25px;
  //   }
  //   @include mobile {
  //     width: 40px;
  //     height: 15px;
  //   }
  // }

  // &__arrow {
  //   width: 100%;
  //   height: 100%;
  //   fill: currentColor;

  //   &--next {
  //     transform: rotate(180deg);
  //   }
  // }
}
