.container {
  margin: 0 auto;
  max-width: 1345px;
  padding: 0 15px;
  width: 100%;
  @include desktop {
    max-width: 1100px;
  }
  @include laptop {
    max-width: 720px;
  }
  @include mobile {
    padding: 0 20px;
  }
}
.body-hidden {
  overflow: hidden;
  touch-action: none;
}
