.container {
  margin: 0 auto;
  max-width: 1345px;
  padding: 0 15px;
  width: 100%;
  @include desktop {
    max-width: 1100px;
  }
  @include laptop {
    max-width: 720px;
  }
  @include mobile {
    padding: 0 20px;
  }
}
.body-hidden {
  overflow: hidden;
  touch-action: none;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
