:root {
  --bg: #faf7f5;
  --orange: #bf7549;
  --violet: #6b4c67;

  --red-light: #e87566;
  --red-middle: #c43a2c;
  --red-dark: #ad2f1f;

  --blue-light: #6d9ec4;
  --blue-dark: #305a7f;

  --green: #517254;
  --green-dirt: #78734e;

  --neutral-dark: #2b2523;

  --gray-light: #ece9e7;
  --gray-dark: #7d7672;

  --brown-light: #998468;
  --brown-dark: #6e443a;

  --biege-light: #f2e7dc;
  --biege-middle: #ddd3c9;
  --biege-dark: #bda996;

  --transition: 0.2s ease;
}
