:root {
  --bg: #FAF7F5;
  --orange: #BF7549;
  --violet: #6B4C67;

  --red-light: #E87566;
  --red-middle: #C43A2C;
  --red-dark: #AD2F1F;

  --blue-light: #6D9EC4;
  --blue-dark: #305A7F;

  --green: #517254;
  --green-dirt: #78734E;

  --neutral-dark: #2B2523;

  --gray-light: #ECE9E7;
  --gray-dark: #7D7672;

  --brown-light: #998468;
  --brown-dark: #6E443A;

  --biege-light: #F2E7DC;
  --biege-middle: #DDD3C9;
  --biege-dark: #BDA996;
}