.body-frame {
  position: absolute;
  font-family: "Runic", sans-serif;
  margin: 0;
  font-size: 120px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--gray-light);
  writing-mode: vertical-rl;
  white-space: nowrap;
  z-index: 2;
  opacity: 0.5;
  &--left {
    left: 85px;
  }
  &--right {
    right: 85px;
  }
  @media (max-width: 1779px) {
    &--left {
      left: 20px;
    }
    &--right {
      right: 20px;
    }
  }
  @media (max-width: 1639px) {
    font-size: 90px;
    line-height: 120%;
    &--left {
      left: 10px;
    }
    &--right {
      right: 10px;
    }
  }
  @include desktop {
    &--left {
      left: 20px;
    }
    &--right {
      right: 20px;
    }
  }
  @media (max-width: 992px) {
    display: none;
  }
}
