.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  outline: none;
  color: inherit;
}

.btn-primary {
  font-family: "RezakCYR", sans-serif;
  padding: 26px 46px;
  background-color: var(--red-middle);
  border: 2px solid var(--red-middle);
  font-weight: 500;
  color: var(--light-grey);
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  transition: color 0.2s ease, background-color 0.2s ease;
  // @include hover {
  //   color: var(--red-middle);
  //   background-color: transparent;
  // }
  @include desktop {
    font-size: 28px;
    line-height: 34px;
    padding: 17px 35px;
  }
  @include laptop {
    font-size: 28px;
    line-height: 34px;
  }
  @include mobile {
    padding: 17px 40px;
    font-size: 20px;
    line-height: 24px;
  }
}

.btn-outline {
  border: 2px solid var(--red-middle);
  color: var(--red-middle);
  font-family: "RezakCYR", "sans-serif";
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  padding: 20px 40px;
  transition: color var(--transition), background-color var(--transition);

  @include hover {
    color: var(--gray-light);
    background-color: var(--red-middle);
  }

  @include desktop {
    font-size: 14px;
    padding: 16px 40px;
  }

  @include tablet {
    padding: 16px 35px;
  }

  @include small-mobile {
    padding: 16px 0;
    width: 100%;
  }
}
